<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1 align="center">LOGIN</h1>
    <form action="" method="post">
        <p align="center">
            <label for="username">Username</label>
            <input type="text" name="username">
        </p>
        <p align="center">
            <label for="password">Password</label>
            <input type="password" name="password">
        </p>
        <p align="center">
            <input type="submit" value="login" name="login">
            <input type="submit" value="registration" name="registration">
        </p>
        <p align="center">{{ error }}</p>

    </form>

</body>
</html>